<p>
  <b>Name:</b>
  <%=h @guest.name %>
</p>

<p>
  <b>F1:</b>
  <%=h @guest.f1 %>
</p>

<p>
  <b>S1:</b>
  <%=h @guest.s1 %>
</p>

<p>
  <b>S2:</b>
  <%=h @guest.s2 %>
</p>

<p>
  <b>S3:</b>
  <%=h @guest.s3 %>
</p>

<p>
  <b>S4:</b>
  <%=h @guest.s4 %>
</p>

<p>
  <b>S5:</b>
  <%=h @guest.s5 %>
</p>

<p>
  <b>S6:</b>
  <%=h @guest.s6 %>
</p>

<p>
  <b>M1:</b>
  <%=h @guest.m1 %>
</p>

<p>
  <b>Ff1:</b>
  <%=h @guest.ff1 %>
</p>

<p>
  <b>Fs1:</b>
  <%=h @guest.fs1 %>
</p>

<p>
  <b>Fs2:</b>
  <%=h @guest.fs2 %>
</p>

<p>
  <b>Fs3:</b>
  <%=h @guest.fs3 %>
</p>

<p>
  <b>Fs4:</b>
  <%=h @guest.fs4 %>
</p>

<p>
  <b>Fs5:</b>
  <%=h @guest.fs5 %>
</p>

<p>
  <b>Fs6:</b>
  <%=h @guest.fs6 %>
</p>

<p>
  <b>Fm1:</b>
  <%=h @guest.fm1 %>
</p>


<%= link_to 'Edit', edit_guest_path(@guest) %> |
<%= link_to 'Back', guests_path %>